# Node
*.log
node_modules/

# Other
.DS_STORE
*#
*~
front.js

# Typescript related files
app.js
app.d.ts
app.js.map

lib/**/*.d.ts
lib/**/*.js.map
lib/**/*.js

features/fixtures/application/**/*.d.ts
features/fixtures/application/**/*.js
features/fixtures/application/**/*.js.map

features/fakeclasses/**/*.d.ts
features/fakeclasses/**/*.js
features/fakeclasses/**/*.js.map


index.d.ts
index.js
index.js.map

# Doc
doc/framework
frontmatter-errors.json

.vscode
.idea/
