name: Push to dev branch

on:
  push:
    branches:
      - 1-dev

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-18.04
    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa
          known_hosts: unnecessary
      - uses: actions/checkout@v2
      - uses: ./.github/actions/remove-libs
      - uses: actions/setup-node@v1.4.4
        with:
          node-version: "14"
      - uses: ./.github/actions/lint

  functional-tests:
    name: Functional Tests
    runs-on: ubuntu-18.04
    needs: [lint]
    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa
          known_hosts: unnecessary
      - uses: actions/checkout@v2
      - uses: ./.github/actions/remove-libs
      - uses: actions/setup-node@v1.4.4
        with:
          node-version: "14"
      - uses: ./.github/actions/functional-test

  doc-deploy:
    name: Deploy Doc to NEXT
    runs-on: ubuntu-latest
    needs: [functional-tests]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Extract references from context
        shell: bash
        id: extract-refs
        run: |
          echo "::set-output name=version::$(git describe --abbrev=0 --tags | cut -d. -f 1)"
          echo "::set-output name=repo::$(echo $GITHUB_REPOSITORY | cut -d/ -f 2)"
          echo "::set-output name=branch::$(echo $GITHUB_REF | cut -d/ -f 3)"
      - uses: convictional/trigger-workflow-and-wait@v1.3.0
        with:
          owner: kuzzleio
          repo: documentation
          github_token: ${{ secrets.ACCESS_TOKEN_CI }}
          workflow_file_name: child_repo.workflow.yml
          ref: develop
          inputs: '{"repo_name": "${{ steps.extract-refs.outputs.repo }}", "branch": "${{ steps.extract-refs.outputs.branch }}", "version": "${{ steps.extract-refs.outputs.version }}"}'
