name: Release stable

on: workflow_dispatch

jobs:
  release-branch:
    if: ${{ github.ref_name == 'beta' || github.ref_name == '2-dev' }}
    name: Release to master
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Rebase master branch
        run: |
          git fetch --no-tags origin master:master
          git rebase ${GITHUB_REF_NAME} master
          git push
